@tailwind base;
@tailwind components;
@tailwind utilities;

.error{
    color: red;
    font-size: small;
    margin-left: 1rem;
}

.lowerBar{
    position: relative;
    width: 100%;
    transition: width 2s linear;
}

.hideLowerBar{
    width: 0;
}

.hideBox{
    display: none;
}

@media screen and (max-width: 800px) {
    .userSpecific {
        flex-direction: column;
        gap: 20px;
    }

    .passBox,
    .userBox {
        width: 100%;
    }

    .topBox,
    .lowerBox {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .actionBox {
        flex-direction: column;
    }
    .topBox{
        margin-top: 0px;
    }
    main{
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .passTable{
        grid-template-columns: auto auto auto auto;    
    }
    .dataUrlBox > p{
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}