<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% if ((typeof cssFiles) !== 'undefined') { %>
    <link rel="stylesheet" href="/css/<%= cssFiles %>">
  <% } %>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .header {
            padding: 20px;
            height: 5vh;
            background-color: aqua;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .links {
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
        }


        .links li a{
            text-decoration: none;
            background-color: blue;
            color: yellow;
        }

        .links li a:hover{
            background-color: rgb(134, 134, 183);
        }

        #signIn{
            background-color: rgba(46, 45, 45, 0.229);
            color: white;
            padding: 5px;
            border:  none;
        }
        #signIn:hover{
            
            border-radius: 10px;
        }


    </style>
</head>

<body>
    <header class="header">
        <nav class="navBar">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="posts">Posts</a></li>
            </ul>
        </nav>
        <button id="signIn">Sign in</button>
    </header>